@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.page-title {
  padding-top: 25px;
  font-size: 35px;
  width: 800px;
  margin: auto;
  font-family: serif;
}

.page-subtitle {
  font-size: 23px;
  width: 640px;
  margin: auto;
  font-family: serif;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: black;
}

<<<<<<< HEAD
=======
.dropcap {
/*  float: left;
  font-size: 430%;
  line-height: 80%;
  width: 0.7em; 
  color: #aa3939;
  */
}

>>>>>>> 2480f88fa8a462b7fe175e4f21ff62d3ff147baa
ol {
  font-family: 'Source Sans Pro', Sans-Serif;
  font-size: 16px;
  background-color: #f3f3f3;
}

p {
  font-family: 'Source Sans Pro', Sans-Serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  margin-top: 0;
}
